name: Daily Recipe Refresh

on:
  schedule:
    - cron: '0 8 * * *' # Runs daily at 8am UTC
  workflow_dispatch: # Allows you to run it manually button click

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Fetch Script
        run: python fetch_recipes.py

      - name: Commit and push changes
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add data.json
          git commit -m "Daily recipe refresh" || echo "No changes to commit"
          git push
